#location-instructions {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 250px;
}

@-webkit-keyframes newchat-animation {
  0% { font-size: 200%; width: 200px; color: red; }
  100% { font-size: 100%; width: 100px; color: black; }
}

@keyframes newchat-animation {
  0% { font-size: 200%; width: 200px;  color: red; }
  100% { font-size: 100%; width: 100px; color: black; }
}

.newchat {
  -webkit-animation: newchat-animation 5s;
  -moz-animation: newchat-animation 5s;
  -o-animation: newchat-animation 5s;  
  animation: newchat-animation 5s;
  
  width: 100%;
}

/* Position for message container */
.messagebox{
  padding: 0% 20%;
  width: 100%; 
  position: absolute;
  top: 10px;       
  font-size: 24px;
}

#screen_name {
  width: 100%;
}

#msg {
  color: black;
  width: 100%;
  text-align: center;
  box-shadow: 4px 4px 1px #888888;
} 
::-webkit-input-placeholder { /* WebKit browsers */
  color: #9A9A9A;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #9A9A9A;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #9A9A9A;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #9A9A9A;
}

.btn {
  display: none;
}

.msg-history {
  font-size: 20px;
  width: 120px;
  text-align: center;
  margin-left: -60px;
}

/* chat history boxes */
#historical-arena {
  position: absolute;
  top: 0%;
}

.chat-history {
  /*resize: both; unfortunately this is not supported in mobile browsers...*/
}

.chat-history > .content {
  background: red;
  overflow: scroll;
  height: 200px;
}

.chat-history > .content > .list-container {
  width: 100px;
}

.chat-history > .handler {
  height: 35px;
  background: blue;
}

.chat-history > .handler > .close {
  float: right;
  font-size: 30px;
}
.chat-history > .handler > .close:hover {
  cursor: move;
  background: #0AF;
}

.chat-history > .resize-handler {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: green;
}
