#location-instructions {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 250px;
}

.leaflet-control-locate {
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
  display: block;
  height: 28px;
  text-align: center;
  text-decoration: none;
  width: 28px;
}

.leaflet-control-locate:hover {
  background-color: #EEEEEE;
}

.current-location-icon {
  font-size: 30px;
  color: blue;
}

/* obselete animation effects
@-webkit-keyframes newchat-animation {
  0% { font-size: 200%; width: 200px; color: red; }
  100% { font-size: 100%; width: 100px; color: black; }
}

@keyframes newchat-animation {
  0% { font-size: 200%; width: 200px;  color: red; }
  100% { font-size: 100%; width: 100px; color: black; }
}

.newchat {
  -webkit-animation: newchat-animation 5s;
  -moz-animation: newchat-animation 5s;
  -o-animation: newchat-animation 5s;  
  animation: newchat-animation 5s;
  
  width: 100%;
}
*/

.roof {
}

/* Position for message container */
.messagebox{
  padding: 0% 20%;
  width: 100%; 
  position: absolute;
  top: 10px;       
  font-size: 24px;
}

#screen_name {
  width: 100%;
}

#msg {
  color: black;
  width: 100%;
  text-align: center;
  box-shadow: 4px 4px 1px #888888;
} 
::-webkit-input-placeholder { /* WebKit browsers */
  color: #9A9A9A;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #9A9A9A;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #9A9A9A;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #9A9A9A;
}

.btn {
  display: none;
}

.msg-history {
  position: relative;
  width: 250px;
  height: 55px;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  border: 3px solid #666;
  border-radius: 15px;
  box-shadow: 2px 2px 4px #888;
  margin-top: -3px;
  font-size: 18px;
  opacity: 0.96;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.msg-history:hover {
  background-color: #EEEEEE;
}

.chat-tail:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  border: 15px solid;
  top: 258px;
  bottom: -30px;
  left: 25px;
  border-color: #666 transparent transparent #666;
}

.chat-tail:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  border: 11px solid;
  border-color: #fff transparent transparent #fff;
  left: 29px;
  top: 257px;
}

/* Taipei 101
 *
.msg-history {
  background-color: lightblue;
  font-size: 20px;
  width: 120px;
  height: 30px;
  text-align: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.msg-history:before {
  content: '';
  line-height: 0;
  font-size: 0;
  width: 0;
  height: 0;
  border-top: 16px solid lightblue;
  border-bottom: 16px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid lightblue;
  position: absolute;
  left: -10px;
}

.msg-history:after {
  content: '';
  line-height: 0;
  font-size: 0;
  width: 0;
  height: 0;
  border-top: 16px solid lightblue;
  border-bottom: 16px solid transparent;
  border-left: 5px solid lightblue;
  border-right: 5px solid transparent;
  position: absolute;
  left: 120px;
} */

/* chat history boxes */
#historical-arena {
  position: absolute;
  top: 0%;
}

.chat-history {
  /*resize: both; unfortunately this is not supported in mobile browsers...*/
  border: 1px solid #CCCCCC;
  box-shadow: 4px 4px 33px #8B8B8B;
  cursor: move;
}

.chat-history > .list-container {
  background: none repeat scroll 0 0 #EEEEEE;
  height: 200px;
  overflow: scroll;
  padding: 7px;

  width: 300px;
}

.chat-history > .close-chat {
  font-size: 20px;
  padding-right: 8px;
  text-align: right;
  width: 22px;
  height: 24px;
  top: 0px;
  right: 0px;
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}
.chat-history > .close-chat:hover {
  background-color: red;
}

.chat-history > .resize-handler {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.chat-history > .resize-handler:hover {
  background-color: #CCCCCC;
  cursor: nw-resize;
}

.chat-data {
}

.chat-data-created_at {
  width: 170px;
  display: inline-block;
  cursor: text;
}

.chat-data-msg {
  display: inline-block;
  cursor: text;
}
